{% extends "base.html" %}

{% block content %}
<div class="text-center mt-5">
    <h1 class="display-4 mb-4">Code Management System</h1>
    <p class="lead mb-4">Efficiently manage your 8-character alphanumeric codes</p>
    
    <div class="d-flex justify-content-center gap-3">
        <a href="{% url 'add_code' %}" class="btn btn-primary btn-lg px-4">
            <i class="bi bi-plus-circle"></i> Add Codes
        </a>
        <a href="{% url 'view_codes' %}" class="btn btn-success btn-lg px-4">
            <i class="bi bi-list-ul"></i> View Codes
        </a>
    </div>
    
    <div class="row mt-5 justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Features</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Bulk code processing with space separation</li>
                        <li class="list-group-item">Real-time duplicate detection</li>
                        <li class="list-group-item">Automatic code validation</li>
                        <li class="list-group-item">Responsive grid display</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}